@keyframes spin-a {
  0%   { transform: rotate(90deg); }
  0%  { transform: rotate(90deg); }
  50%  { transform: rotate(180deg); }
  75%  { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}
@keyframes spin-b {
  0%   { transform: rotate(90deg); }
  25%  { transform: rotate(90deg); }
  25%  { transform: rotate(180deg); }
  75%  { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}
@keyframes spin-c {
  0%   { transform: rotate(90deg); }
  25%  { transform: rotate(90deg); }
  50%  { transform: rotate(180deg); }
  50%  { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}
@keyframes spin-d {
  0%   { transform: rotate(90deg); }
  25%  { transform: rotate(90deg); }
  50%  { transform: rotate(180deg); }
  75%  { transform: rotate(270deg); }
  75% { transform: rotate(360deg); }
  100% { transform: rotate(360deg); }
}

.floorplan {

  .section {
    position: relative;
    min-height: 380px;
    @media (max-width: $grid-float-breakpoint) {
      min-height: 280px;
    }
  }
  .imp-initialized {
    z-index: 6;
    position: relative;
  }
  .loading {
    z-index: 5;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    position: absolute;
    top: 0;
    > div {
      width: 60px;
      height: 60px;
      position: absolute;
      left: 50%;
      margin-left: -30px;
      top: 60%;
      margin-top: -30px;
    }
  }
  .loading > div > div {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: $brand-secondary;
    top: 10px;
    left: 10px;
    transform-origin: 20px 20px;
    border-radius: 8px;
    animation: spin-a 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
  }
  .loading > div > .c2 {
    top: 10px;
    left: auto;
    right: 10px;
    transform-origin: -4px 20px;
    animation: spin-b 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
  }
  .loading > div > .c3 {
    top: auto;
    left: auto;
    right: 10px;
    bottom: 10px;
    transform-origin: -4px -4px;
    animation: spin-c 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
  }
  .loading > div > .c4 {
    top: auto;
    bottom: 10px;
    transform-origin: 20px -4px;
    animation: spin-d 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
  }
  .imp-shape-container {
    border: 10px solid white;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 6px, rgba(0, 0, 0, 0.1) 0 1px 4px;
  }
}

.squares-element {
  width: 100%;
}
.imp-fullscreen-tooltip {
  padding: 50px 10px!important;
}