.footer {
  position: relative;
  #map_footer {
    margin:0;
    height: 300px;
  }
  .col {
    padding-left: 10px;
    padding-right: 10px;
  }

  .menu-footer-menu-container {
    ul > li > a {
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      font-size: 14px;
      font-weight: 600;
      text-transform: capitalize;
      background-color: transparent;
      color: white;
      width: 175px;
      &:hover {
        color: $brand-secondary
      }
    }

    .navbar-nav {
      margin:0;
      >li {
        float: left;
      }
    }

  }

  ul.custom {
    li {
      display: inline-block;
    }
  }
  //ul {
  //  padding:0;
  //  margin:0;
  //  li {
  //    list-style: none;
  //    padding:0;
  //    text-align: left;
  //    font-size: 12px;
  //    line-height: 1.8;
  //    .fa {
  //      color: $brand-secondary;
  //      font-size: 20px;
  //      padding: 10px 15px 20px 0;
  //    }
  //  }
  //}
  //ul.custom {
  //  li {
  //    display: inline-block;
  //    padding-right: 20px;
  //  }
  //}
  //a {
  //  color: $gray-light;
  //  &:hover {
  //    color: $asparagus;
  //  }
  //}
  .container {
    width: 1300px;
    @media (max-width: 1300px) {
      width: 100%;
    }
  }
  .padding-top {
    padding-top: 100px;
    display: inline-block;
    @media (max-width: 1300px) {
      padding-top: 20px;
    }
  }
  .logo img {
    height: 100px;
    margin-left: -30px;
    margin-bottom: 30px;
    @media (min-width: 1300px) {
      margin-left:0;
    }
  }
  //.menu {
  //  > li {
  //    padding-top: 15px;
  //    width: 159px;
  //    float: left;
  //    font-size: 13px;
  //    padding-bottom: 5px;
  //    font-weight: 400;
  //    text-transform: capitalize;
  //    > a {
  //      padding-right: 20px;
  //    }
  //    ul {
  //      padding-left: 10px;
  //    }
  //  }
  //}
}